
  <div class="wrapper">
    <div class="content">
    </div>
    <!-- Footer -->
    <footer class="bg-body-tertiary text-center footer-basic ">
      <!-- Grid container -->
      <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">

          <!-- Email -->
          <button data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="rodrigoyukimide00@gmail.com" role="button"  (click)="copiarEmail()">
           <img src="../../assets/icon/email.gif" alt="LinkedIn" style="height: 35px; width: 35px;" />
          </button>
            <!-- Mensagem de feedback -->
            <span *ngIf="emailCopiado" class="text-success ms-2">📋 Email copiado!</span>

          <!-- LinkedIn com GIF -->
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.linkedin.com/in/rodrigo-oliveira-27a18415a/" target="_blank"  role="button">
            <img src="../../assets/icon/linkedin.gif" alt="LinkedIn" style="height: 35px; width: 35px;" />
          </a>

          <!-- GitHub -->
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://github.com/Rodrigo-Santoos" target="_blank" role="button">
            <img src="../../assets/icon/github.gif" alt="LinkedIn" style="height: 35px; width: 35px;" />
          </a>
        </section>

        © 2025 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Rodrigo de Oliveira dos Santos</a>
      </div>
    </footer>
  </div>
