
  <div class="wrapper">
    <div class="content">
    </div>
    <!-- Footer -->
    <footer class="bg-body-tertiary text-center footer-basic ">
      <!-- Grid container -->
      <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">

          <!-- Email -->
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="mailto:seuemail@dominio.com" role="button">
            <mat-icon>email</mat-icon>
          </a>

          <!-- LinkedIn -->
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.linkedin.com/in/seu-perfil" role="button">
            <mat-icon>linkedin</mat-icon>
          </a>

          <!-- GitHub -->
          <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://github.com/seu-usuario" role="button">
            <mat-icon>github</mat-icon>
          </a>
        </section>

        © 2025 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Rodrigo de Oliveira dos Santos</a>
      </div>
    </footer>
  </div>
