<div class="menu-container">
  <div class="menu-title">Plataformas</div>

    <mat-menu ></mat-menu>
  <button mat-menu-item>
    <img src="../../assets/icon/ps2.png" />
    <span>PS2</span>
  </button>
  <button mat-menu-item>
    <img src="../../assets/icon/ps2.png" />
    <span>PSVITA</span>
  </button>
  <button mat-menu-item>
    <img src="../../assets/icon/nintendo-3ds.png" />
    <span>3DS</span>
  </button>
  <button mat-menu-item>
    <img src="../../assets/icon/nintendo-ds.png" />
    <span>DS</span>
  </button>
  <button mat-menu-item>
    <img src="../../assets/icon/wii-u-48.png" />
    <span>Wii U</span>
  </button>
</div>
