<mat-toolbar class="transparent-toolbar">
  <span class="">NuvemGames</span>
  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

  </mat-menu>

</mat-toolbar>

<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">


    <button mat-menu-item>
      <img src="../../assets/icon/ps2.png" style="width: 24px; height: 24px;">
      <span>PS2</span>
    </button>

    <button mat-menu-item>
      <img src="../../assets/icon/ps2.png" style="width: 24px; height: 24px;">
      <span>PSVITA</span>
    </button>

    <button mat-menu-item>
      <img src="../../assets/icon/nintendo-3ds.png" style="width: 24px; height: 24px;">
      <span>3DS</span>
    </button>

    <button mat-menu-item>
      <img src="../../assets/icon/nintendo-ds.png" style="width: 24px; height: 24px;">
      <span>DS</span>
    </button>

    <button mat-menu-item>
      <img src="../../assets/icon/wii-u-48.png" style="width: 24px; height: 24px;">
      <span>Wii U</span>
    </button>

  </mat-drawer>

</mat-drawer-container> -->
