.example-spacer {
  flex: 1 1 auto;
}
.transparent-toolbar {
  background-color: black; /* Preto claro com 20% de opacidade */
  border: none; /* Remova a borda, se houver */
}
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.footer {
  background-color: rgba(0, 0, 0, 0.2); /* Exemplo de cor de fundo */
  padding: 10px;
  text-align: center;
}

.spacer {
  flex: 1;
}

a {
  color: inherit; /* Herda a cor do elemento pai */
  margin: 0 8px;
}

span{
  padding-left: 10px;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

